<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，
这样就能够保证namespace的值是唯一的
 -->
<mapper namespace="com.wpw.mybatisbatchoperationxml.mapper.UserMapper">
    <insert id="batchInsert" parameterType="list">
        <selectKey resultType="Integer" keyProperty="id" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into user(username,password,age)
        values
        <foreach collection="list" item="user" index="index" separator=",">
            (#{user.userName},
            #{user.passWord},
            #{user.age})
        </foreach>
    </insert>
    <select id="batchList" resultMap="map">
        select * from user
        where id in
        <foreach collection="idList" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="userName!=null">
            and username=#{userName}
        </if>
        <if test="passWord!=null">
            and password=#{passWord}
        </if>
    </select>
    <resultMap id="map" type="com.wpw.mybatisbatchoperationxml.entity.User">
        <id property="id" column="id"/>
        <result property="userName" column="username"/>
        <result property="passWord" column="password"/>
        <result property="age" column="age"/>
    </resultMap>
    <select id="listPagination" resultMap="map">
        select * from user
        <where>
            <if test="userName!=null">
                username=#{userName}
            </if>
            <if test="passWord!=null">
                and password=#{passWord}
            </if>
        </where>
    </select>
    <select id="batchListBaseArray" resultMap="map">
        select * from user
        where id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="batchListBaseMap" parameterType="java.util.HashMap"
            resultMap="map">
        select * from user
        where id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="batchListBaseEmptyArgument" resultMap="map">
        select *
        from user
    </select>
</mapper>